.box-area-reservation {
  width: 900px;
}
label.error {
  display: block !important;
  color: red;
  margin-top: 5px !important;
}
@media (max-width: 600px) {
  .booking-box {
    display: block;
    width: 80%;
    margin-left: 60px;
  }
}
